[submodule "packages/kp-cli"]
	path = packages/kp-cli
	url = git@github.com:kearisp/kp-cli.git
[submodule "packages/core"]
	path = packages/core
	url = git@github.com:kearisp/wocker-core.git
[submodule "packages/utils"]
	path = packages/utils
	url = git@github.com:kearisp/wocker-utils.git
[submodule "packages/plugin-serveo"]
	path = packages/plugin-serveo
	url = git@github.com:kearisp/wocker-serveo-plugin.git
[submodule "packages/plugin-mariadb"]
	path = packages/plugin-mariadb
	url = git@github.com:kearisp/wocker-mariadb-plugin.git
[submodule "packages/plugin-cron"]
	path = packages/plugin-cron
	url = git@github.com:kearisp/wocker-cron-plugin.git
[submodule "packages/plugin-example"]
	path = packages/plugin-example
	url = git@github.com:kearisp/wocker-example-plugin.git
[submodule "packages/cron"]
	path = packages/cron
	url = git@github.com:kearisp/wocker-cron.git
[submodule "packages/ws"]
	path = packages/ws
	url = git@github.com:kearisp/wocker-ws.git
[submodule "packages/plugin-pgsql"]
	path = packages/plugin-pgsql
	url = git@github.com:kearisp/wocker-pgsql-plugin.git
