[submodule "docs"]
	path = docs
	url = git@github.com:kearisp/wocker.git
[submodule "modules/docker"]
	path = modules/docker
	url = git@github.com:kearisp/wocker-docker-module.git
[submodule "modules/docker-mock"]
	path = modules/docker-mock
	url = git@github.com:kearisp/wocker-docker-mock-module.git
[submodule "packages/core"]
	path = packages/core
	url = git@github.com:kearisp/wocker-core.git
[submodule "packages/testing"]
	path = packages/testing
	url = git@github.com:kearisp/wocker-testing.git
[submodule "packages/types"]
	path = packages/types
	url = git@github.com:kearisp/wocker-types.git
[submodule "packages/utils"]
	path = packages/utils
	url = git@github.com:kearisp/wocker-utils.git
[submodule "packages/ws"]
	path = packages/ws
	url = git@github.com:kearisp/wocker-ws.git
[submodule "plugins/cron"]
	path = plugins/cron
	url = git@github.com:kearisp/wocker-cron-plugin.git
[submodule "plugins/elastic"]
	path = plugins/elastic
	url = git@github.com:kearisp/wocker-elastic-plugin.git
[submodule "plugins/mail"]
	path = plugins/mail
	url = git@github.com:kearisp/wocker-mail-plugin.git
[submodule "plugins/mariadb"]
	path = plugins/mariadb
	url = git@github.com:kearisp/wocker-mariadb-plugin.git
[submodule "plugins/memcached"]
	path = plugins/memcached
	url = git@github.com:kearisp/wocker-memcached-plugin.git
[submodule "plugins/mongodb"]
	path = plugins/mongodb
	url = git@github.com:kearisp/wocker-mongodb-plugin.git
[submodule "plugins/ollama"]
	path = plugins/ollama
	url = git@github.com:kearisp/wocker-ollama-plugin.git
[submodule "plugins/pgsql"]
	path = plugins/pgsql
	url = git@github.com:kearisp/wocker-pgsql-plugin.git
[submodule "plugins/redis"]
	path = plugins/redis
	url = git@github.com:kearisp/wocker-redis-plugin.git
[submodule "plugins/rproxy"]
	path = plugins/rproxy
	url = git@github.com:kearisp/wocker-rproxy-plugin.git
[submodule "plugins/storage"]
	path = plugins/storage
	url = git@github.com:kearisp/wocker-storage-plugin.git
